<div class="container">
    <h1>Home</h1>
</div>

<div class="container">
    <button type="button" class="btn btn-primary mr-1" [routerLink]="['/public']">Pàgina pública</button>
    <button type="button" class="btn btn-primary mr-1" [routerLink]="['/private']">Pàgina privada</button>
    <button type="button" class="btn btn-primary mr-1" *ngIf="user == null" [routerLink]="['/login']">Login</button>
    <button type="button" class="btn btn-primary mr-1" *ngIf="user != null"[routerLink]="['/logout']">Logout</button>
</div>